header {
	height: 150px;
	font-size: 75px;
	font-weight: bold;
	text-shadow: blue 0.1em 0.1em 0.2em;
	text-align: center;
	padding-bottom: 50px;
	top:100px; margin:auto; width:100%;
	font-family: 'Ubuntu', sans-serif;
	
}




h1 {text-align: center;
	font-weight: bold;
	color: blue;
}


/*form { 
	border:10px outset;
	border-color: blue;
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}
*/
body {
	background: url('http://image1.redbull.com/rbcom/010/2014-12-17/1331695662332_2/0010/1/1500/1000/2/the-torres-del-paine.jpg');
	background-size: cover;
	padding-top: 50px;
	background-repeat: repeat-x;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
	
}


.blogPost {
	font-size: 15px;
	color: blue;
	border: 5px groove;
	border-color: blue;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
	background-color: rgba(255,255,255,0.5);
}

#entry-form {
	background-color: rgba(255,255,255,0.3);
}

}

.removeButton {
	font-size: 10px;
}



/*#titleHead {
	font-size: 75px;
	font-weight: bold;
	color: white;
	text-shadow: blue 0.1em 0.1em 0.2em}

#shitToDo{
	list-style-type: none;
	margin-right: 40px;
}
.added-Items {
	list-style-type: none;
	font-size: 15px;
	color: blue;
	border: 5px groove;
	border-color: blue;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

form {
	border:10px outset;
	border-color: blue;
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

body {
	background: url("http://m.c.lnkd.licdn.com/mpr/mpr/p/2/000/22a/36b/10502c0.jpg");
	background-size: cover;
	background-repeat: repeat-x;
	background-position: left top;
	background-attachment: fixed;
	position: absolute;

}*/